<%- include('partials/header') %>
<style type="text/css">p{
    font-family: 'Calibri', sans-serif ;
}</style>
<div class='container'>
<img style='margin-top:30px;' src='/profile/<%= Blog.image %>'>
<%let date= Blog.created.toDateString() %>
<% date=date.slice(4,date.length) %>
<div id="author_info">
    <% if(!(Blog.author["profile_pic"])){%>
    <img id="profile_pic" src="https://www.pngarts.com/files/3/Avatar-Transparent-Image.png">
    <% }else{ %>
    <img id="profile_pic" src="/profile/<%=Blog.author.profile_pic %>">
    <% } %>

    <p><%= Blog.author.username %></p>
    <p><%= date %></p>
<% if(isLoggedIn){%>    
<% if(currentUser && !(currentUser._id.equals(Blog.author.id))){%>
    <% const following = currentUser.following;
       var action=(following.indexOf(Blog.author.id)>-1)? "Unfollow":"Follow"; 
       console.log(typeof following[0])%>
       <% if(following.indexOf(Blog.author.id) > -1){%>
        <button id="fl_btn" class="followed" data-action="<%=action%>" data-follower="<%= currentUser._id %>" data-following="<%= Blog.author.id %>"  onclick="follows(this.id)" >Follow</button>
        <%}else{%>
        <button id="fl_btn" class="unfollowed" data-action="<%=action%>" data-follower="<%= currentUser._id %>" data-following="<%= Blog.author.id %>"  onclick="follows(this.id)" >Follow</button>
        <% } %>
        <% } %>
<%} %>
</div>

<p><%= Blog.title %></p>
<div class="blog-content"><%- Blog.content %></div>


<form id="commentform"  method="POST" action="/blog/<%=Blog._id%>/comment" onclick="postComment(this.id)"> 
<input type="text" name="text" placeholder="comment here" required>
<button type="submit"><i class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></i>
</button>
</form>


<% Blog.comments.forEach((comment)=>{ %>
    <%let date= comment.created.toDateString() %>
    <% date=date.slice(4,date.length) %>
    <div class="comment">

     <p class="user-name"><strong><%=comment.author.username%></strong></p>
     <p><%=comment.text%></p>
     
     <p class="date"><%= date %></p>
     <% if(currentUser && currentUser._id.equals(comment.author.id)){%>
     <form action="/blog/<%=Blog._id%>/comment/<%= comment.id%>?_method=DELETE" method="POST">
         <button class="deletebtn">Delete</button>
     </form>
     <form action="/blog/<%=Blog._id%>/comment/<%= comment.id%>/edit" method="GET">
        <button class="editbtn">Edit</button>
    </form>
    <% }%>

</div>
<% }) %>
     <% if(currentUser && currentUser._id.equals(Blog.author.id)){%>
     <form action="/blog/<%=Blog._id%>/edit" method="GET">
        <button>Edit BLOG</button>
    </form>
    <% }%>
   </div>
     


<%- include('partials/footer') %>